/* Main CSS file for official minimal design website */

/* Basic Styles */

* {
	box-sizing: border-box;
}

a {
	text-decoration: none;
}

h1 {
	font: normal 36px/1.2em Dosis, sans-serif;
	letter-spacing: 1px;
}

h2 {
	font: normal 18px/1.2em Lato, sans-serif;
	letter-spacing: 5px;
}

h3 {
	font: normal 24px/0.8em Dosis, sans-serif;
	color: #3A3A3A;
}

p {
	font: 16px/24px Lato, sans-serif;
	color: #7f7f7f;
}

.secondary {
	font-size: 14px;
}

img {
	max-width: 100%;
}

/* Main Layout */

.main-container {
	max-width: 1100px;
	margin: 0 auto;
	padding: 50px 15px 0;
	font-family: 'Open Sans', sans-serif;
}

/* Header */

header {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 30px;
}

.media-icons a {
	margin-right: 20px;
}

.media-icons a:hover {
	opacity: 0.7;
}

/* Main menu */

nav {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 1;
	align-items: center;
	overflow: hidden;
}

#menu {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	transition: all 0.7s;
}

#menu.hide {
	transform: translateX(100%);
}

#menu.show {
	transform: translateX(0);
}

#menu a {
	padding: 0 20px;
	margin: 0 10px;
	font-size: 13px;
  line-height: 1.5;
  color: #545454;
	letter-spacing: 1.5px;
	text-transform: uppercase;
	transition: opacity 0.4s;
}

#menu a:last-child {
	margin-right: 4em;
}

#menu a:hover {
	opacity: 0.6;
	border-bottom: 1px grey solid;
	color: inherit;
}

.open-page {
	border-bottom: 1px grey solid;
}

/* Hamburger menu */
#hamburger {
	grid-column: 1 / 2;
	grid-row: 1 / 2;
	justify-self: end;
  width: 25px;
  height: 25px;
	padding: 2px;
	margin: 5px;
}

.line {
	display: block;
	background: grey;
  width: 25px;
  height: 4px;
  border-radius: 4px;
	transition: 
		transform 0.4s;
	margin-bottom: 4.5px;
}

.showMenu .line-1 {
	transform: rotate(-45deg);
	transform-origin: right top;
}

.showMenu .line-2 {
	visibility: hidden;
}

.showMenu .line-3 {
	transform: rotate(45deg);
	transform-origin: right bottom;
}

/* Carousel */

.slide {
/*	max-width: 1000px;*/
	height: 350px;
	object-fit: cover;
}

/* Carousel numbers */
.slide-caption {
	margin-top: 5px;
	text-align: right;
}

.caption {
	margin-right: 10px;
	color: rgba(84, 84, 84, 0.7);
}

.caption.active {
	font-weight: 700;
	font-size: 1.1em;
}

/* Latest projects section */

#latest-projects {
	display: grid;
	grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
	grid-gap: 10px;
	margin-top: 100px;
}

.project-box {
	display: grid;
	grid-template-columns: 1;
	grid-template-rows: 1;
	overflow: hidden;
}

.project-box:first-child {
	grid-column: 1 / 3;
	overflow: visible;
}

.project-box .section-header {
	padding-bottom: 40px;
}

.slide-in {
	opacity: 0;
	transition: 
		transform 1s,
		opacity 1.2s;
}

.from-down {
	transform: translateY(200px);
}

.from-up {
	transform: translateY(-200px);
}

.slide-in.visible {
	opacity: 1;
	transform: translateY(0);
}

.project-box > img {
	width: 100%;
	object-fit: cover;
	grid-column: 1 / 1;
	grid-row: 1 / 1;
}

.overlay {
	grid-column: 1 / 1;
	grid-row: 1 / 1;
	display: grid;
	justify-items: center;
	align-items: center;
	background-color: rgba(28, 70, 163, 0.3);
	transition: all 400ms;
	transform: translateY(100%);
}

.project-box:hover .overlay {
	transform: translateY(0%);
}

.overlay button {
	padding: 8px 13px;
	border-style: none;
	border: 2px solid darkgray;
	border-radius: 5px;
	background-color: rgba(0, 0, 0, 0.7);
	text-transform: uppercase;
	font-family: Lato, sans-serif;
	letter-spacing: 0.15em;
	color: white;
}

/* About Section */

.description {
	max-width: 530px;
	margin: 65px auto;
}

.description .section-header {
	margin-bottom: 40px;
}

/* Feature Boxes */

.feature-boxes {
	display: flex;
	justify-content: space-between;
	margin-bottom: 50px;
}

.feature-box {
	flex-basis: 28%;
	text-align: center;
	padding: 10px 30px 20px;
	border: 1px dotted transparent;
}

.feature-box:hover {
	border: 1px dotted #9d9d9d;
}

.feature-box h3 {
	margin: 60px 0 40px;
	padding-bottom: 5px;
	border-bottom: 2px solid transparent;
	-moz-transition: letter-spacing 0.7s;
	transition: letter-spacing 0.7s;
}

.feature-box:hover h3 {
	letter-spacing: 0.2em;
	border-bottom: 2px solid black;
}

.feature-box:first-child {
	background: url(../images/website.png) no-repeat 50% 5%;
}

.feature-box:nth-child(2) {
	background: url(../images/picture-128.png) no-repeat 50% 5%;
}

.feature-box:last-child {
	background: url(../images/line-128.png) no-repeat 50% 5%;
}

.feature-box p {
	color: #9d9d9d;
}

.feature-box:hover p {
	color: #6c6c6c;
}

/* Contact details and form */

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
	grid-gap: 20px;
  padding: 40px 60px;
  background-image: url(../images/gray_sand.png);
}

#contact p, #contact h1, #contact h2 {
	color: #E3E3E3;
}

.section-header {
	display: grid;
	grid-template-columns: 90px auto;
	grid-gap: 10px;
	grid-column: 1 / 2;
	grid-row: 1 / 2;
}

.initial {
	grid-column: 1 / 2;
}

.initial p {
	font: 150px/110px Dosis, sans-serif;
	border-right: 2px solid #9d9d9d;
	padding: 0;
	padding-bottom: 5px;
}

.heading {
	grid-column: 2 / 3;
}

.heading p {
	height: 3px;
	width: 100px;
	margin-top: 10px;
	margin-bottom: 20px;
	background-color: #E3E3E3;
}

.contact-details {
	margin-top: 30px;
	color: #E3E3E3;
}

.contact-details p {
	padding-left: 30px;
	padding-bottom: 20px;
	line-height: 1.1em;
}

.contact-details p:first-child {
	background: url(../images/map-marker.png) no-repeat;
}

.contact-details p:nth-child(2) {
	background: url(../images/envelope.png) no-repeat;
}

.contact-details p:last-child {
	background: url(../images/phone.png) no-repeat;
}

form {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

form > * {
  display: block;
  margin-bottom: 15px;
}

input, textarea {
	width: 100%;
  padding: 5px;
  border: 0.8px solid rgb(196,196,196);
  background: inherit;
  color: #fff;
  font-family: Helvetica;
	font-size: 14px;
  letter-spacing: 0.1em;
}

input:hover, textarea:hover,
input:focus, textarea:focus {
  border-color: rgb(130, 130, 130);
  outline: none;
}

input {
  min-height: 35px;
}

#contact button {
  width: 50%;
  padding: 15px 0;
  background: inherit;
  border: 2px solid #fff;
  color: rgb(229, 227, 227);
  letter-spacing: 0.1em;
}

#contact button:hover {
  letter-spacing: 0.7em;
}

/* Footer */

footer {
	display: flex;
	justify-content: space-between;
	padding: 60px 0 30px;
}

/* Fading animation for slideshow */

.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.4s;
  animation-name: fade;
  animation-duration: 1.4s;
}

@-webkit-keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .8} 
  to {opacity: 1}
}
	
/* Smaller screens */

@media (max-width:1024px) {
	
	.feature-boxes {
	display: flex;
	flex-direction: column;
  align-items: center;
	margin-bottom: 20px;
  }
	
	.feature-box {
		max-width: 350px;
		margin: 15px 0;
	}
} 

/* Contact details and form */

@media (max-width:700px) {
/*	Latest Projects Header */
		.project-box:first-child {
		grid-column: 1 / 2;
	}
	
	#contact {
		display: grid;
		grid-template-columns: 1fr;
		grid-template-rows: 1fr 1fr 2fr;
		padding: 20px 30px;
	}
	
	.section-header {
		grid-row: 1 / 2;
	}
	
	.contact-details {
		grid-row: 2 / 3;
	}
	
	form {
		grid-column: 1 / 2;
		grid-row: 3 / 4;
	}
}