/* Main CSS file for official minimal design website */

/* Basic Styles */

@import url(portfolio.css);
@import url(components/crossfade-slider.css);
@import url(quotation.css);
@import url(team.css);
@import url(project.css);

* {
  box-sizing: border-box;
}

/* Global variables */

:root {
  --gutter-sm: 60px;
  --gutter-lg: 90px;
  --primary-color: #3a3a3a;
  --primary-light: #b4b4b4;
}

a {
  text-decoration: none;
}

h1,
h2 {
  font: normal 36px/1.2em Dosis, sans-serif;
  letter-spacing: 1px;
}

h3 {
  font: normal 18px/1.2em Lato, sans-serif;
  letter-spacing: 5px;
}

h4 {
  font: normal 24px/0.8em Dosis, sans-serif;
  color: var(--primary-color);
}

/* Buttons */

.btn {
  display: block;
  background-color: #fff;
  border: 2px solid var(--primary-color);
  padding: 19px 0;
  width: 100%;
  max-width: 280px;
  text-transform: uppercase;
  letter-spacing: 0.9px;
  font: 400 1rem/1.1875rem Lato, sans-serif;
  transition: all 0.5s;
  transition-timing-function: ease-in-out;
}

.btn:hover {
  background-color: var(--primary-color);
  color: #fff;
}

p {
  font: 16px/24px Lato, sans-serif;
  color: #7f7f7f;
}

.secondary {
  font-size: 14px;
}

img {
  max-width: 100%;
}

/* Main Layout */

.main-container {
  max-width: 1100px;
  margin: 0 auto;
  padding: var(--gutter-sm) 15px 0;
  font-family: "Open Sans", sans-serif;
}

/* Header */

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: var(--gutter-sm);
}

.media-icons a {
  margin-right: 20px;
}

.media-icons a:hover {
  opacity: 0.7;
}

/* Main menu */

nav {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  align-items: center;
  overflow: hidden;
}

#menu {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  transition: all 0.7s;
}

#menu.hide {
  transform: translateX(100%);
}

#menu.show {
  transform: translateX(0);
}

#menu a {
  padding: 0 20px;
  margin: 0 10px;
  font-size: 13px;
  line-height: 1.5;
  color: #545454;
  letter-spacing: 1.5px;
  text-transform: uppercase;
  transition: opacity 0.4s;
}

#menu a:last-child {
  margin-right: 4em;
}

#menu a:hover {
  opacity: 0.6;
  border-bottom: 1px grey solid;
  color: inherit;
}

.open-page {
  border-bottom: 1px grey solid;
}

/* Hamburger menu */
#hamburger {
  grid-column: 1 / 2;
  grid-row: 1 / 2;
  justify-self: end;
  width: 35px;
  height: 25px;
  padding: 2px 15px 2px 5px;
  background-color: #fff;
  z-index: 23;
}

.line {
  display: block;
  background: grey;
  width: 25px;
  height: 4px;
  border-radius: 4px;
  transition: transform 0.4s;
  margin-bottom: 4.5px;
}

.showMenu .line-1 {
  transform: rotate(-45deg);
  transform-origin: right top;
}

.showMenu .line-2 {
  visibility: hidden;
}

.showMenu .line-3 {
  transform: rotate(45deg);
  transform-origin: right bottom;
}

/* Latest projects section */

.projects-gallery {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(275px, 1fr));
  grid-gap: 10px;
  margin-top: 70px;
}

.project-box {
  display: grid;
  grid-template-columns: 1;
  grid-template-rows: 1;
  overflow: hidden;
}

.project-box.gallery-intro {
  grid-column: 1 / 3;
  overflow: visible;
}

.slide-in {
  opacity: 0;
  transition: transform 1s, opacity 1.2s;
}

.from-down {
  transform: translateY(200px);
}

.from-up {
  transform: translateY(-200px);
}

.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}

.project-box > img {
  width: 100%;
  object-fit: cover;
  grid-column: 1 / 1;
  grid-row: 1 / 1;
}

.overlay {
  grid-column: 1 / 1;
  grid-row: 1 / 1;
  display: grid;
  justify-items: center;
  align-items: center;
  background-color: rgba(28, 70, 163, 0.3);
  transition: all 400ms;
  transform: translateY(100%);
}

.project-box:hover .overlay {
  transform: translateY(0%);
}

.overlay button {
  padding: 8px 13px;
  border-style: none;
  border: 2px solid darkgray;
  border-radius: 5px;
  background-color: rgba(0, 0, 0, 0.7);
  text-transform: uppercase;
  font-family: Lato, sans-serif;
  letter-spacing: 0.15em;
  color: white;
}

/* About Section */

#about {
  padding-top: 80px;
}

.description {
  max-width: 530px;
  margin: 0 auto 65px;
}

.description .section-header {
  margin-bottom: 40px;
}

/* Quatation */

/* Feature Boxes */

.feature-boxes {
  display: flex;
  justify-content: space-between;
  margin: var(--gutter-sm) 0;
}

.feature-box {
  flex-basis: 28%;
  text-align: center;
  padding: 10px 30px 20px;
  border: 1px dotted transparent;
}

.feature-box:hover {
  border: 1px dotted #9d9d9d;
}

.feature-box h4 {
  margin: 60px 0 40px;
  padding-bottom: 5px;
  border-bottom: 2px solid transparent;
  -moz-transition: letter-spacing 0.7s;
  transition: letter-spacing 0.7s;
}

.feature-box:hover h4 {
  letter-spacing: 0.2em;
  border-bottom: 2px solid black;
}

.feature-box:first-child {
  background: url(../images/website.png) no-repeat 50% 5%;
}

.feature-box:nth-child(2) {
  background: url(../images/picture-128.png) no-repeat 50% 5%;
}

.feature-box:last-child {
  background: url(../images/line-128.png) no-repeat 50% 5%;
}

.feature-box p {
  color: #9d9d9d;
}

.feature-box:hover p {
  color: #6c6c6c;
}

/*  Initial  */

/*  Bottom Box */

.bottom-box {
  padding: 40px 60px;
  background-image: url(../images/gray_sand.png);
}

.bottom-box p,
.bottom-box h2,
.bottom-box h3 {
  color: #e3e3e3;
}

/* Contact details and form */

#contact {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-gap: 20px;
}

.section-header {
  display: grid;
  grid-template-columns: 90px auto;
  grid-gap: 10px;
  grid-column: 1 / 2;
  grid-row: 1 / 2;
}

.initial {
  grid-column: 1 / 2;
}

.initial p {
  font: 150px/110px Dosis, sans-serif;
  border-right: 2px solid #9d9d9d;
  padding: 0;
  padding-bottom: 5px;
}

.heading {
  grid-column: 2 / 3;
}

.heading p {
  height: 3px;
  width: 100px;
  margin-top: 10px;
  margin-bottom: 20px;
  background-color: #e3e3e3;
}

.contact-details {
  margin-top: 30px;
  /* color: #e3e3e3; */
}

.contact-details p {
  padding-left: 30px;
  padding-bottom: 20px;
  line-height: 1.1em;
}

.contact-details p:first-child {
  background: url(../images/map-marker.png) no-repeat;
}

.contact-details p:nth-child(2) {
  background: url(../images/envelope.png) no-repeat;
}

.contact-details p:last-child {
  background: url(../images/phone.png) no-repeat;
}

form {
  grid-column: 2 / 3;
  grid-row: 1 / 3;
}

form > * {
  display: block;
  margin-bottom: 15px;
}

input,
textarea {
  width: 100%;
  padding: 5px;
  border: 0.8px solid rgb(196, 196, 196);
  background: inherit;
  color: #fff;
  font-family: Helvetica;
  font-size: 14px;
  letter-spacing: 0.1em;
}

input:hover,
textarea:hover,
input:focus,
textarea:focus {
  border-color: rgb(130, 130, 130);
  outline: none;
}

input {
  min-height: 35px;
}

#contact button {
  width: 50%;
  padding: 15px 0;
  background: inherit;
  border: 2px solid #fff;
  color: rgb(229, 227, 227);
  letter-spacing: 0.1em;
}

#contact button:hover {
  letter-spacing: 0.7em;
}

/* Footer */

footer {
  display: flex;
  justify-content: space-between;
  padding: var(--gutter-sm) 0 30px;
}

/* ------------------------
-----  Smaller Screens   ----
--------------------------- */

@media (max-width: 1024px) {
  .feature-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .feature-box {
    max-width: 350px;
    margin: 15px 0;
  }
}

/* Our Team */
@media (max-width: 800px) {
  .our-team {
    grid-template-areas:
      "description"
      "image"
      "contact";
    justify-items: center;
  }
  .member-contact {
    grid-template-columns: minmax(auto, 580px) 60px;
  }
}

@media (max-width: 700px) {
  /* Menu  */
  :root {
    --gutter-sm: 25px;
  }

  #menu {
    transition: none;
  }

  #menu.hide {
    display: none;
  }

  #menu.show {
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  #menu.show a {
    display: inline-block;
    margin: 35px auto 0;
    padding-bottom: 5px;
    font-size: 1.1rem;
    width: 70%;
  }

  #menu.show:first-child {
    padding-top: 15vh;
  }

  #menu.show a:last-child {
    margin: 35px auto 0;
  }

  #hamburger.showMenu {
    position: fixed;
    top: 25px;
    right: 25px;
  }

  /* Heading in Crossfading Slideshow */
  .banner-heading h1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  /*	Latest Projects Header */
  .project-box:first-child {
    grid-column: 1 / 2;
  }

  /* Contact Details and Form */
  #contact {
    background-color: red;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    padding: 20px 30px;
  }

  .section-header {
    grid-row: 1 / 2;
  }

  .contact-details {
    grid-row: 2 / 3;
  }

  form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  /* Portfolio Page */
  .portfolio-intro {
    flex-direction: column;
  }

  .portfolio-intro div {
    margin-bottom: var(--gutter-sm);
  }

  /* Portfolio Gallery */
  #current {
    display: none;
  }

  .thumbnails {
    grid-template-columns: 1fr;
  }

  /* Contact Button */
  .portfolio-btn {
    margin-top: var(--gutter-sm);
  }
}
