.banner {
  height: 400px;
  margin-bottom: var(--gutter-lg);
}

.banner img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.portfolio-intro {
  display: flex;
  margin-bottom: var(--gutter-lg);
}

.portfolio-intro div {
  flex: 3;
}

.portfolio-intro > p {
  flex: 5;
  margin-left: 10px;
}

/* Portfolio Gallery */

.portfolio-main-img img {
  display: block;
  max-height: 65vh;
  margin: auto;
  /* padding: 10px;
  border: 2px solid #9d9d9d; */
}

/*  Thumbnails */

.thumbnails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 6px;
  margin-top: var(--gutter-sm);
}

.thumbnails > div > img {
  min-height: 100%;
}

/*  Contact Button */

.portfolio-btn {
  margin: var(--gutter-lg) auto var(--gutter-sm);
}

/* Portfolio Instagram */

.portfolio-instagram {
  position: relative;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(120px, 1fr));
  margin: var(--gutter-sm) 10px 30px;
}

.portfolio-instagram div {
  overflow: hidden;
  transition: transform 0.7s ease-in-out;
}

.portfolio-instagram img {
  min-height: 100%;
}

.portfolio-instagram > div > img:hover {
  transform: scale(1.2);
}

.portfolio-instagram > img {
  position: absolute;
}

img.arrow {
  min-height: 50%;
  top: 25%;
  cursor: pointer;
}

img.prev {
  left: -65px;
}

img.next {
  right: -65px;
}
