/* On-Scroll Animation Styles */
.slide-in {
  opacity: 0;
  transition: transform 800ms, opacity 1.2s;
}

.from-down {
  transform: translateY(200px);
}

.from-up {
  transform: translateY(-200px);
}

.slide-in.visible {
  opacity: 1;
  transform: translateY(0);
}

/* ------------------------
-----  Smaller Screens   ----
--------------------------- */

/* Feature Boxes */
@media (max-width: 1024px) {
  .feature-boxes {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 20px;
  }

  .feature-box {
    max-width: 350px;
    margin: 15px 0;
  }
}

@media (max-width: 850px) {
  /* Menu  */
  #menu {
    transition: none;
  }

  #menu.hide {
    display: none;
  }

  #menu.show {
    position: fixed;
    z-index: 16;
    top: 0;
    left: 0;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
  }

  #menu.show a {
    display: inline-block;
    margin: 35px auto 0;
    padding-bottom: 5px;
    font-size: 1.1rem;
    width: 70%;
  }

  #menu.show:first-child {
    padding-top: 15vh;
  }

  #menu.show a:last-child {
    margin: 35px auto 0;
  }

  #hamburger.showMenu {
    position: fixed;
    top: 25px;
    right: 25px;
  }

  /* Out Team */
  .our-team {
    grid-template-areas:
      "description"
      "image"
      "contact";
    justify-items: center;
  }
  .member-contact {
    grid-template-columns: minmax(auto, 580px) 60px;
  }
}

@media (max-width: 700px) {
  :root {
    --gutter-sm: 25px;
    --gutter-lg: 60px;
  }

  h3 {
    font-size: 16px;
  }

  /* Heading in Crossfading Slideshow */
  h1 {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    text-align: center;
  }

  /* Bottom Box  */
  .bottom-box {
    padding: 40px;
  }

  /*	Latest Projects Header */
  .project-box:first-child {
    grid-column: 1 / 2;
  }

  /* Contact Details and Form */
  #contact {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 2fr;
    padding: 20px 30px;
  }

  .section-header {
    grid-row: 1 / 2;
  }

  .contact-details {
    grid-row: 2 / 3;
  }

  form {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  #contact button {
    width: 100%;
  }

  /* Portfolio Page - Gallery */
  #current {
    display: none;
  }

  .thumbnails {
    grid-template-columns: 1fr;
  }

  /* Section with Narrower and Wider Parts*/
  .sect-narrow-wide {
    flex-direction: column;
  }

  .sect-narrow {
    order: 1;
    margin-bottom: 50px;
  }

  .sect-wide {
    order: 2;
  }

  /* Contact Button */
  .portfolio-btn {
    margin-top: var(--gutter-sm);
  }

  /* Flex Gallery */
  .flex-panels {
    flex-direction: column;
    min-height: 600px;
  }
}
