.sect-narrow-wide {
  display: flex;
  margin-bottom: var(--gutter-lg);
}

.sect-narrow-wide > *:first-child {
  margin-right: 20px;
}

.sect-narrow-wide img {
  width: 100%;
}

.sect-narrow {
  flex: 3;
}

.sect-wide {
  flex: 5;
}
