/* Main Big Image */
.portfolio-main-img img {
  display: block;
  max-height: 65vh;
  margin: auto;
}

/*  Thumbnails */
.thumbnails {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-gap: 6px;
  margin-top: var(--gutter-sm);
}

.thumbnails > div > img {
  min-height: 100%;
}
